* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

*:hover{
    text-decoration: none !important;
}

body{
    background-color: rgb(200,200,200);
}

.content-board-list{
    margin: 5% 5% 5% 5%;
}

.grid-boards-list{
    display: grid;
    grid-auto-rows: auto;
    grid-row-gap: 10px;
}

.row-board-grid{
    display: grid;
    grid-auto-rows: auto;
    margin-bottom: 30px;
}


.row-board-header-grid{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
}

.board-title{
    font-weight: bold;
    font-size: 20px;
}

.row-board-header-settings-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.row-board-body-grid{
    display: grid;
    grid-template-columns: repeat(100, 25%);
    grid-template-rows: minmax(300px, 300px);
    overflow-x: scroll;
    margin: 10px 20px 0 20px;
    border-radius: 20px;
}

*::-webkit-scrollbar{
    width: 0px;
}

.row-board-body-grid::-webkit-scrollbar-thumb{
    background-color: #000000;
    border-radius: 30px;
}

.column-status-grid{
    display: grid;
    grid-template-rows: 1fr 5fr;
    background-color: rgb(230,230,230);
    border-radius: 15px;
    box-sizing: border-box;
    margin-right: 10px;
}

.row-card-grid{
    display: grid;
    grid-template-columns: 6fr 1fr;
    background-color: #cbcb1a;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0 5px 0 5px;
    box-shadow: black 0 0 5px;
}

.row-card-grid:hover{
    box-shadow: red 0 0 5px;
}

.row-status-name-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.col-status-options-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.row-cards-grid{
    display: grid;
    grid-template-rows: repeat(100, 20%);
    overflow-y: scroll;
    box-sizing: border-box;
    grid-row-gap: 10px;
    padding-top: 10px;
}

.row-cards-grid::-webkit-scrollbar{
    width: 0px;
}

.col-status-name{
    justify-self: start;
    padding-left: 10px;
    font-weight: bold;
}

.col-card-options{
    display: grid;
    justify-items: center;
}

.col-card-title{
    display: grid;
    align-items: center;
}


/* Images */
.status-option-image{
    width: 25px;
    height: auto;
    filter: grayscale(100%);
    transform-origin: center;
}

.status-option-image:hover{
    filter: grayscale(0%);
    width: 29px;
}

.status-option-image-card{
    width: 22px;
    height: auto;
    filter: grayscale(100%);
    transform-origin: center;
}

.status-option-image-card:hover{
    filter: grayscale(0%);
    width: 26px;
}

/*Btns*/
.board-header-option-btn{
    padding: 6px;
    background-color: black;
    color: white;
    border-radius: 20px;
}

.board-header-option-btn:hover{
    font-size: 110%;
    box-shadow: red 0 0 10px;
    color: white;
}

.options-btn{
    display: grid;
    align-items: center;

}