<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
{#        <meta http-equiv="X-UA-Compatible" content="ie=edge">#}
        <title>ProMan</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">

        <link rel="stylesheet" type="text/css" href="../static/css/main.css">

        <script type="module" src="{{ url_for('static', filename='js/main.js') }}" defer></script>

        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../static/css/test.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
    </head>
    <body id="body">
    {% include 'header.html' %}
    {% include 'startPage.html' %}
    {% include 'user_registration.html' %}
    {% include 'user_login.html' %}
    {% include 'new_board.html' %}
    {% include 'test.html' %}
    {% include 'information_popup.html' %}
    {% include 'create_new_card.html' %}
    {% include'add_status.html' %}
    {% include'edit_board.html' %}
    {% include 'rename_status.html' %}
    {% include 'footer.html' %}
    <div id="modal-space"></div>

    </body>
</html>
